<!doctype html>
<html ng-app="admin">

<head>
    <meta charset="utf-8">
    <script src="../js/jquery-2.1.3.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="//code.angularjs.org/1.3.0/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js"></script>
    <script src="../js/dialog/dialogs-default-translations.js"></script>
    <script src="../js/dialog/dialogs.js"></script>
    <script src="admin.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/dialog/dialogs.css">
</head>

<body ng-controller="SmartMeterLightCtrl">
    <div class="container">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <tabset>
            <tab ng-repeat="device in devices" ng-model="device" heading="{{device.name}}" active="device.active" disabled="device.disabled">
               <div class="btn-group">
	            <button type="button" class="btn btn-primary" style="margin-right:50px" ng-click="stop_refresh()">
	                {{stopTest}}
	            </button>
	           </div>
                <div class="row">
                    <div class="col-xs-2">Device Name</div>
                    <div class="col-xs-2">Temprature</div>
                    <div class="col-xs-1">Status</div>
                    <div class="col-xs-1">Min</div>
                    <div class="col-xs-1">Max</div>
                    <div class="col-xs-2">Action</div>
                    <div class="col-xs-3">Edit</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-xs-height">{{device.name}}</div>
                    <div class="col-xs-2 col-xs-height"><b>23.32</b></div>
                     <div class="col-xs-1 col-xs-height"><span class="{{device.device_pic_class}}"></span></div>
                    <div class="col-xs-1 col-xs-height"><b> −89.2 °C</b></div>
                    <div class="col-xs-1 col-xs-height"><b>93.9 °C</b></div>
                    <div class="col-xs-2 col-xs-height">
                        <button type="button" ng-click="relay_device(device, device.device_status)" class="btn {{device.device_class}} btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <div class="col-xs-3 col-xs-height">
                        <input type="text" class="form-control inline" ng-init='minTemp=light.min_value' ng-model='minTemp' value="23.32">-
                        <input type="text" class="form-control inline" ng-model='maxTemp' ng-init='maxTemp=light.max_value' value="23.32">
                        <button type="button" class="btn btn-default btn-sm" ng-click='change_temp(smartMeter, light, minTemp, maxTemp)'>Confirm</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</body>

</html>
